@charset "UTF-8";

.divMeusContatos::-webkit-scrollbar{
    display: none;
}
.divBuscarContatos::-webkit-scrollbar{
    display: none;
}

.divMeusContatos{
    margin-top: 120px;
    height: 400px;
    float: left;
    word-wrap: break-word;

}
.divMeusContatos h1{
    text-align: center;

}
.divBuscarContatos{
    height: 400px;
    margin-right: 25px;
    margin-top: 120px;
    float: right;
}

.buscarContato{
    float: right;
    padding: 10px;
    margin-top: 5px;
    background-color: var(--alunoHover);
}
.buscarContato input{
    padding: 5px;
    border-radius: 4px;
    width: 85%;
}

.listaContatos{
    margin-top: 10px;


}
.listaContatos tr:hover{
    background-color: var(--alunoHover);
}

