@charset "utf-8";



div#divInfoPerfil{
    position: relative;
    height: 450px;
    overflow-y: scroll;
    margin-top: 120px;
    margin-left: 50px;

    background-color: rgba(255, 255, 255, 0.5);
    border-right: 3px solid var(--corCinza);
    border-bottom: 3px solid var(--corCinza);
    border-radius: 10px;
}
div#divInfoPerfil h2{
    text-align: center;
    margin-bottom: 70px;
}

div#divInfoPerfil table{
    width: 100%;
    word-wrap: break-word;
}

div#divInfoPerfil table tr td a{
    margin-top: 0px;
    margin-bottom: 0px;

    float: right;

}
div#divInfoPerfil table tr td p{
    font-weight: bold;
}
div#divInfoPerfil table tr td span{
    margin-left: 30px;
}
div#divInfoPerfil table tr td{
    padding: 10px;
}
div#divInfoPerfil table tr td:hover{
    background-color: var(--alunoHover);
}



.edicao{
    display: none;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(27, 109, 133, 0.31);
    float: right;
    margin-top: 20px;
}
.edicao input{

}
.edicao a{
    margin:2px;
    padding: 2px;
}

div#divAreaConhecimento{
    height: 450px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 120px;
    border-right: 3px solid var(--corCinza);
    border-bottom: 3px solid var(--corCinza);
    border-radius: 10px;
    float:right;
    margin-right: 30px;
    text-align: center;
    overflow-y: auto;
}

.itemArea tr:hover{
    background-color: rgba(43, 102, 154, 0.05);
}
#divAreaConhecimento{
    padding: 0px;

}
.itemArea tr{

}
.itemArea td{
    padding: 5px;

}
.itemArea span{
    font-size: 20px;
    float: left;
}
.itemArea a{
    float: right;
}



