@charset "UTF-8";

/* cores */
:root{
    /*perfil professor*/
    --corAzul: #0f0066;
    --corAzulClaro: rgba(19, 0, 187, 0.9);

    /*perfil aluno*/
    --alunoAzul: #4d58b0;
    --alunoAcajou: #4c212a;
    --alunoAzulMarinho: #01172f;
    --alunoVerde: #00635d;
    --alunoAzulClaro:#09a4bd;
    --alunoHover:rgba(43, 102, 154, 0.05);
    --profVerde: rgb(63, 158, 63);
    --corBordas:#4c212a;
    --corCinza: #3b3b3b;
}


/*
    CSS COM CONFIGURAÇÕES GLOBAIA:
*/



/*              ESTILOS DE CABEÇALHO e MENU        */
.fundo{
    background-color: var(--alunoAzul);
}
/*
body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;;
    background-image: url("../imagens/imagemFundo.png");
    background-repeat: no-repeat;
    background:fixed;

}*/
.navegador{
    margin: 0px;
    padding: 0px;
}
div#menu{
    margin-left: 0px;
    background-color: var(--alunoAzul);

}

div#menu button:hover{
    background-color: #60bd60;
    transition: background-color .5s;
    transition: color .5s;
    color: white;
}
div#imgLogoCabecalho{
    padding-top: 0px;
    margin-top: -10px;
    padding-bottom: 48px;
    display: block;
    float: left;
}

div#menu h1{
    display: block;
    float: left;
    color: white;
    font-family: "Cooper Black";
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 5px var(--corAzulClaro);
}

/* MENU PROFESSOR*/
div#menuProf{
    margin-left: 0px;
    background-color: var(--profVerde);

}

div#menuProf button:hover{
    background-color: var(--profVerde);
    transition: background-color .5s;
    transition: color .5s;
    color: white;
}


div#menuProf h1{
    display: block;
    float: left;
    color: white;
    font-family: "Cooper Black";
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 5px var(--profVerde);
}


/* DROPDOWN PERFIL*/
div#dropdownPerfil{
    background-color: white;
    margin-top: 20px;
    margin-right: 10px;
    padding: 5px;
    display: block;
    position: relative;
    float: right;
    list-style: none;
    border-bottom: 3px solid var(--corBordas);
    border-right: 3px solid var(--corBordas);
    border-radius: 10px;

}
div#dropdownPerfil ul {
    background-color:transparent;
    position: relative;
    padding-left:0px ;
    padding-bottom: 0px;
    display: none;
    list-style: none;
    text-align: center;
    border-top: 1px dashed black;
    margin-top: 10px;
    margin-bottom: 2px;

}
div#dropdownPerfil a{
    color: var(--alunoAzulMarinho);
}
div#dropdownPerfil:hover ul{
    display: block;

}



/* barras de navegação ALUNO*/
.barraNavegacaoAluno {
    border-bottom: 2px solid var(--alunoAzul);
    padding-left: 3px;
    padding-right: 3px;
    margin: auto;
    width:100%;
}

.barraNavegacaoAluno a{
    font-weight: bold;
    color: white;
    width: 33%;
    min-width: 200px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: var(--alunoAzul);
}

.barraNavegacaoAluno a:hover{
    background-color: var(--corAzulClaro);
    transition: background-color .5s;
    color: white;
}
/* barras de navegação PROFESSOR*/
.barraNavegacaoProfessor {
    border-bottom: 1px solid var(--profVerde);
    padding-left: 3px;
    padding-right: 3px;
    margin: auto;
    width:100%;

}

.barraNavegacaoProfessor a{
    color: white;
    font-weight: bold;
    width: 33%;
    min-width: 200px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: var(--profVerde);
}

.barraNavegacaoProfessor a:hover{
    background-color: rgb(30, 66, 30);
    transition: background-color .5s;
    transition: color .5s;
    color: white;
}




