@charset "UTF-8";

/* cores

verde: #55CF5B
azul claro: #55cfbe
axul: #557ccf
verde base: #b3cf55
laranja: #cf8855

*/

/*
    CSS COM CONFIGURAÇÕES GLOBAIA:
*/


/*              ESTILOS DE CABEÇALHO e MENU        */
div#menu{
    background-color: #59d259;
}
div#menu button:hover{
    background-color: #60bd60;
    transition: background-color .5s;
    transition: color .5s;
    color: white;
}
div#imgLogoCabecalho{
    padding-top: 0px;
    margin-top: -10px;
    padding-bottom: 48px;
    display: block;
    float: left;
}

div#menu h1{
    display: block;
    float: left;
    color: #347234;
    font-family: "Goudy Stout";
    font-size: 50px;
    font-weight: bold;
    text-shadow: 0px 0px 5px #71ff71;
}



/* DROPDOWN PERFIL*/
div#dropdownPerfil{
    margin-top: 15px;
    margin-right: 10px;
    padding: 5px;
    display: block;
    position: relative;
    float: right;
    background-color: rgba(58, 148, 217, 0.22);
    list-style: none;
    border: 3px solid #347234;
    border-radius: 10px;

}
div#dropdownPerfil ul {
    background-color:transparent;

    position: relative;
    padding-left:0px ;
    padding-bottom: 0px;
    display: none;
    list-style: none;
    text-align: center;
    border-top: 1px dashed black;
    margin-top: 10px;
    margin-bottom: 2px;

}
div#dropdownPerfil a{
    color: black;
}
div#dropdownPerfil:hover ul{
    display: block;


}




.backColor{ /* para testes */
    background-color: rgba(89, 210, 89, 0.25);
}



/* barras de navegação ALUNO*/
.barraNavegacaoAluno {
    border-bottom: 1px solid #59d259;
    padding-left: 3px;
    padding-right: 3px;
    margin: auto;
    width:100%;

}

.barraNavegacaoAluno button{
    font-weight: bold;
    width: 33%;
    min-width: 200px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #59d259;
}

.barraNavegacaoAluno button:hover{
    background-color: #60bd60;
    transition: background-color .5s;
    transition: color .5s;
    color: white;
}
/* barras de navegação PROFESSOR*/
.barraNavegacaoProfessor {
    border-bottom: 1px solid #59d259;
    padding-left: 3px;
    padding-right: 3px;
    margin: auto;
    width:100%;

}

.barraNavegacaoProfessor button{
    font-weight: bold;
    width: 33%;
    min-width: 200px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-color: #59d259;
}

.barraNavegacaoProfessor button:hover{
    background-color: #60bd60;
    transition: background-color .5s;
    transition: color .5s;
    color: white;
}



/* RODAPÉ*/
footer{
    background-color: #59d259;
    height: 30px;
    padding: 0px;
    magin-top: 0px;

}
footer p{
    padding-top: 5px;
    text-align: center;
    font-weight: bold;

}

/*------ kit para personalizar scroll no chrome*/

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    display: none;
}

::-webkit-scrollbar-track-piece  {
    background-color: rgba(89, 210, 89, 0.23);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #59d259;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
/*-------------------------------*/