<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="identificação">
    <meta name="author" content="">
    <link rel="icon" href="../imagens/favicon/favicon.ico">
    <title>postAcad</title>

    <link href="../css-bootstrap/bootstrap.css" rel="stylesheet">
    <link href="../css/global.css" rel="stylesheet">

    <!-- importar csss de acordo com a pagina do aluno -->

    <link href="../css-bootstrap/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="../css-bootstrap/signin.css" rel="stylesheet">
    <script src="../js-bootstrap/bootstrap.js"></script>
    <script src="../js-bootstrap/ie-emulation-modes-warning.js"></script>



</head>
<body class="backColor">


        <nav  class="span12 navbar navbar-default navbar-fixed-top ">
            <div id="menu" class="container-fluid">

                <div id="imgLogoCabecalho" class="navbar-header ">
                    <a class="navbar-brand" href="#home">
                        <img alt="Brand" src="../imagens/icone-brand.png">
                    </a>
                </div>
                <h1>Post<wbr>Acad</h1>


                <div id="dropdownPerfil" class="">
                    <li><a href="#">olá usuário!</a>
                        <ul>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>


                </div>

            </div>

            <div  class=" barraNavegacaoProfessor">
                <a href=""type="button" class="btn btn-default navbar-btn">Galeria de trabalhos</a>
                <a href=""type="button" class="btn btn-default navbar-btn">Gerenciar contatos</a>
                <a href=""type="button" class="btn btn-default navbar-btn">Gerenciar perfil</a>
            </div>

        </nav>



        <footer id="footer" class="navbar-fixed-bottom">
            <p>Copyright &copy; 2017 - by Equipe PostAcad <br>
        </footer>

</body>
</html>